{% extends "base.html" %}

{% block content %}


    <div id="schedules_index_page" class="container-fluid page">
        <div class="page-header"><h1>我们的理念</h1>
            <!--<div class="query"><div><form class="search-form"><input type="text" id="search" class="search_box ghosted" value="Search..." name="search"></form></div></div>
            -->
            <div class="clear"></div>
        </div>

        <div class="content-full">
            <div class="flashes">
            </div>
            <div id="top-pagination"><div><div class="pagination-with-options"></div></div></div>
            <div class="index-sched-page"><div><div class="alert-message block-message getting-started-message"><h3>Share on-call responsibility with schedules</h3><div class="content">An on-call schedule provides a simple and fair way for engineers to share on-call responsibilities.  When an incident is created, PagerDuty can be configured to assign it to a user according to an on-call schedule.<p><a class="hilite" href="/schedules/new">Create your first on-call schedule</a><br>and associate it with an escalation policy to get started.</p></div></div><div class="gs_example_screen">
                <img class="img_block" src="{{ MEDIA_URL }}help/newcal_getting_started.png"></div></div></div>
            <div id="bottom-pagination"><div><div class="pagination-with-options"></div></div></div>

    <!-- Typography
   ================================================== -->
    <section id="typography">
        <div class="marketing-byline">
            <img src="{{ MEDIA_URL }}uimockup/optcrm.png" alt="" />
        </div><!-- /row -->
    </section>

        </div>

    </div><!-- /container -->

{% endblock %}