<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Top Winner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/docs.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}ico/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}ico/apple-touch-icon-114x114.png">
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="0">

<div class="sandbar">
    <div id="gc-googlebar">
        <a href="{%url idx %}" id="gc-logo">
            <img alt="智慧赢家" src="{{ STATIC_URL }}img/developers-logo.png">
        </a>

        <div class="gc-social">
            <a href="{%url newfeatures %}"><span class="badge badge-important">新功能上线啦!</span></a>
            <span id="gc_user">   欢迎你,<strong>timo_jiang</strong>   </span>
            <a {% ifequal current_url 'userprofile' %} class="button_active"{% else %}  class="button" {% endifequal %} href="../userprofile">用户中心</a>
            <a {% ifequal current_url 'helpcenter' %} class="button_active"{% else %}  class="button" {% endifequal %} href="../helpcenter">使用手册</a>
            <a class="button" href="{%url logout %}">退出</a>
        </div>
    </div>
</div>
<!-- Navbar
    ================================================== -->
    <div class="navbar">

        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div id="lb-userprofile" class="alert-message"><span>30</span>天使用期限.</span></div>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li {% ifequal current_url 'idx' %} class="active"{% else %}  class="" {% endifequal %}>
                            <a href="{%url idx %}">首页</a>
                        </li>
                        <li {%ifequal current_url 'promo_index' %} class="active"{% else %}  class="" {% endifequal %}>
                            <a href="{%url promo:promo_index %}">促销活动</a>
                        </li>
                        <li {% ifequal current_url "optcalendar" %} class="active"{% else %}  class="" {% endifequal %}>
                            <a href="{%url optcalendar:optcalendar_index %}">运营日历</a>
                        </li>
                        <li {% ifequal current_url 'optlog_index' %} class="active"{% else %}  class="" {% endifequal %}>
                            <a href="{%url optlog:optlog_index %}">运营报表</a>
                        </li>
                        <li {% ifequal current_url 'opthelper_index' %} class="active"{% else %}  class="" {% endifequal %}>
                            <a href="{%url opthelper:opthelper_index %}">店铺助手</a>
                        </li>
                        <li {% ifequal current_url 'optanalysis_index' %} class="active"{% else %}  class="" {% endifequal %}>
                            <a href="{%url optanalysis:optanalysis_index %}">运营分析</a>
                        </li>
                        <li {% ifequal current_url 'optcrm_index' %} class="active"{% else %}  class="" {% endifequal %}>
                            <a href="{%url optcrm:optcrm_index %}">会员管理</a>
                        </li>
                        <li {% ifequal current_url 'socialsales_index' %} class="active"{% else %}  class="" {% endifequal %}>
                            <a href="{%url socialsales:socialsales_index %}">会员营销</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



    </div>

       <div class="container">
           {% block content %}
           {% endblock %}
        </div><!-- /container -->
</div>

<footer id="gc-footer">
    <div id="gc-copyright">
        <img style="vertical-align:baseline; float: left" alt="智慧赢家" src="{{ STATIC_URL }}img/developers-logo-footer.png"  id="developers-logo-footer">
        <a href="{%url aboutus %}">关于我们</a>
        <a href="{%url onlineservice %}">在线客服</a>
        <a href="{%url contactus %}">联系我们</a>
        <a href="{%url reportissue %}">报告错误</a>
    </div>

    <div id="gc-language">
        © 2012  Top-Winner  版权所有
    </div>




</footer>

    <script src="{{ STATIC_URL }}js/widgets.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/google-code-prettify/prettify.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
    <script src="{{ STATIC_URL }}js/application.js"></script>
</body>
</html>
