{% extends "base.html" %}

{% block content %}

    <div id="schedules_index_page" class="container-fluid page">
    <div class="page-header"><h1>智慧赢家 - 旺铺运营专家 (基与社会化营销的客户关系管理, 丰富多样的智能化促销工具, 旺铺运营自动化工具批量大放送)</h1>

        <a href="/services/new" class="btn success">开始体验</a>
        <!--<div class="query"><div><form class="search-form"><input type="text" id="search" class="search_box ghosted" value="Search..." name="search"></form></div></div>
        -->
        <div class="clear"></div>
    </div>

        <div class="content-full">
            <div class="flashes">
            </div>
            <div id="top-pagination"><div><div class="pagination-with-options"></div></div></div>
            <div class="index-sched-page"><div><div class="alert-message block-message getting-started-message">
                <h3>社会化客户关系管理和营销,让你轻松和老顾客互动,老顾客的社会化营销引爆你的流量.</h3>
                <h3>丰富多样的智能化的促销工具,配合店铺超级日历管理, 配合自动化得运营工具，让你的轻轻松松做店铺营销,流量倍增.,</h3>
                <h3>自动化旺铺运营批量工具,让你的店铺 节省你50%时间</h3>
                <h3>运营数据化分析工具,助你实现精准营销,</h3>
                <div class="content">
                </div></div>

                <div class="gs_example_screen"><img class="img_block" src="/assets/screens/newcal_getting_started.png"></div></div></div>


            <div id="bottom-pagination"><div><div class="pagination-with-options"></div></div></div>
            <div class="gs_example_screen">

                <img src="{{ MEDIA_URL }}uimockup/home1.png" alt="">
            </div>

        </div>
    </div>

{% endblock %}
