{% extends "base.html" %}

{% block content %}

    <div id="schedules_index_page" class="container-fluid page">
    <div class="page-header"><h1>智慧赢家 - 旺铺运营专家 (基与社会化营销的客户关系管理, 丰富多样的智能化促销工具, 旺铺运营自动化工具批量大放送)</h1>

        <a href="/services/new" class="btn success">开始体验</a>
        <!--<div class="query"><div><form class="search-form"><input type="text" id="search" class="search_box ghosted" value="Search..." name="search"></form></div></div>
        -->
        <div class="clear"></div>
    </div>

        <div class="content-full">
            <div class="flashes">
            </div>


    <section id="carousel">

        <div class="bs-docs-example">
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="" src="{{ STATIC_URL }}img/newcal_getting_started.png">
                        <div class="carousel-caption">
                            <h4>智能化的促销工具</h4>
                            <p>丰富多样的智能化的促销工具,配合店铺超级日历管理, 配合自动化得运营工具，让你的轻轻松松做店铺营销,流量倍增.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="{{ STATIC_URL }}img/newcal_getting_started.png">
                        <div class="carousel-caption">
                            <h4>自动化批量工具</h4>
                            <p>自动化旺铺运营批量工具,节省你50%时间.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="{{ STATIC_URL }}img/newcal_getting_started.png">
                        <div class="carousel-caption">
                            <h4>客户关系管理和营销</h4>
                            <p>社会化客户关系管理和营销,让你轻松和老顾客互动,老顾客的社会化营销引爆你的流量</p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>


    </section>

    </div>

{% endblock %}
