{% extends "base.html" %}

{% block content %}

<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>Operation Tools</h1>
  <p class="lead">Learn about significant changes and additions since v1.4 with this handy guide.</p>
</header>


<!-- Project
================================================== -->
<section id="docs">
    <div class="marketing-byline">
        <img src="{{ MEDIA_URL }}uimockup/opthelp.png" alt="" />
    </div><!-- /row -->
</section>

    <!-- Project
   ================================================== -->
    <section id="docs">
        <div class="marketing-byline">
            <img src="{{ MEDIA_URL }}uimockup/opttools.jpg" alt="" />
        </div><!-- /row -->
    </section>

<!-- Scaffolding
================================================== -->
<section id="scaffolding">
    <div class="marketing-byline">
        <img src="{{ MEDIA_URL }}uimockup/opthelp2.png" alt="" />
    </div><!-- /row -->
</section>



<!-- Base CSS
================================================== -->
<section id="baseCSS">
    <div class="marketing-byline">
        <img src="{{ MEDIA_URL }}uimockup/opthelp3.png" alt="" />
    </div><!-- /row -->
</section>



<!-- Components
================================================== -->
<section id="components">
    <div class="marketing-byline">
        <img src="{{ MEDIA_URL }}uimockup/opthelper1.jpg" alt="" />
    </div><!-- /row -->
</section>


    <section id="javascript">
        <div class="marketing-byline">
            <img src="{{ MEDIA_URL }}uimockup/opthelper3.jpg" alt="" />
        </div><!-- /row -->
    </section>

<!-- Javascript
================================================== -->
<section id="javascript">
    <div class="marketing-byline">
        <img src="{{ MEDIA_URL }}uimockup/opthelper2.jpg" alt="" />
    </div><!-- /row -->
</section>

    <!-- Javascript
   ================================================== -->
    <section id="javascript">
        <div class="marketing-byline">
            <img src="{{ MEDIA_URL }}uimockup/opthelp4.jpg" alt="" />
        </div><!-- /row -->
    </section>
    <section id="javascript">
        <div class="marketing-byline">
            <img src="{{ MEDIA_URL }}uimockup/opthelp5.jpg" alt="" />
        </div><!-- /row -->
    </section>

    <section id="javascript">
        <div class="marketing-byline">
            <img src="{{ MEDIA_URL }}uimockup/opthelp6.jpg" alt="" />
        </div><!-- /row -->
    </section>
    <section id="javascript">
        <div class="marketing-byline">
            <img src="{{ MEDIA_URL }}uimockup/opthelp7.jpg" alt="" />
        </div><!-- /row -->
    </section>
    <section id="javascript">
        <div class="marketing-byline">
            <img src="{{ MEDIA_URL }}uimockup/opthelp8.jpg" alt="" />
        </div><!-- /row -->
    </section>
    <section id="javascript">
        <div class="marketing-byline">
            <img src="{{ MEDIA_URL }}uimockup/opthelp9.jpg" alt="" />
        </div><!-- /row -->
    </section>
    <section id="javascript">
        <div class="marketing-byline">
            <img src="{{ MEDIA_URL }}uimockup/opthelp10.jpg" alt="" />
        </div><!-- /row -->
    </section>
    <section id="javascript">
        <div class="marketing-byline">
            <img src="{{ MEDIA_URL }}uimockup/opthelper10.jpg" alt="" />
        </div><!-- /row -->
    </section>


     <!-- Footer
      ================================================== -->
      <footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Designed and built with all the love in the world <a href="http://twitter.com/twitter" target="_blank">@twitter</a> by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>.</p>
        <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        <p>Icons from <a href="http://glyphicons.com">Glyphicons Free</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
      </footer>

{% endblock %}
