<div class="crumbs-and-feedback">
    <ul class="breadcrumb">
        <li>
            <a  class="badge {% ifequal opt_tools '' %} badge-important {% else %} badge-info {% endifequal %}" href="{%url opthelper:opthelper_index %}">店铺助手</a> <span class="divider">>></span>
        </li>
        <li>
            <a class="badge {% ifequal opt_tools 'autoshelves' %} badge-important {% else %} badge-info {% endifequal %}"  href="{%url opthelper:autoshelves %}">自动上架</a>
        </li>
        <li>
            <a class="badge {% ifequal opt_tools 'autoshowcase' %} badge-important {% else %} badge-info {% endifequal %}" href="{%url opthelper:autoshowcase %}">自动橱窗</a>
        </li>
        <li>
            <a class="badge {% ifequal opt_tools 'bulkediting' %} badge-important {% else %} badge-info {% endifequal %}" href="{%url opthelper:bulkediting %}">批量修改</a>
        </li>
        <li>
            <a class="badge {% ifequal opt_tools 'salespackage' %} badge-important {% else %} badge-info {% endifequal %}" href="{%url opthelper:salespackage %}">套餐营销</a>
        </li>
        <li>
            <a rel="tooltip" title="first tooltip" class="badge {% ifequal opt_tools 'salesrecommend' %} badge-important {% else %} badge-info {% endifequal %}" href="{%url opthelper:salesrecommend %}">宝贝推荐</a>
        </li>
        <li>
            <a class="badge {% ifequal opt_tools 'groupbuytemplates' %} badge-important {% else %} badge-info {% endifequal %}" href="{%url opthelper:groupbuytemplates %}">团购模版</a>
        </li>
        <li>
            <a class="badge {% ifequal opt_tools 'praiserecommended' %} badge-important {% else %} badge-info {% endifequal %}" href="{%url opthelper:praiserecommended %}">好评推荐</a>
        </li>
        <li>
            <a class="badge {% ifequal opt_tools 'watermarks' %} badge-important {% else %} badge-info {% endifequal %}" href="{%url opthelper:watermarks %}">水印标签</a>
        </li>
        <!--
  <li class="pull-right"><a class="gh-btn">问题反馈</a> </li>
  <li class="pull-right"><a class="gh-btn">Help+Support</a> <span class="divider">  </span></li>-->
    </ul>

    <a onclick="_gaq.push([\'_trackEvent\', \'click\', \'outbound\', \'wrapbootstrap\']);" href="https://wrapbootstrap.com/?ref=bsw" target="_blank" rel="tooltip" data-original-title="Marketplace for premium Bootstrap templates">WrapBootstrap <i class="icon-share-alt"></i></a>
</div>